@model Project5EMDAStaffManagement.Models.Staff

@{
    ViewData["Title"] = "Sign In / Out";
}

<div class="container">
    <h2>
        Sign In / Out
    </h2>
    <br />
    <div class="row">
        <form name="staffform" asp-controller="Staffs" asp-action="QuickEdit">
            <div class="col-md-4 col-xs-6">
                <label asp-for="FirstName">Staff Member </label>
                <select id="StaffSelect" asp-for="Id" asp-items="@((List<SelectListItem>) ViewData["Staff"])" class="form-control" style="width: 100%">
                    <option value="">Select Staff</option>
                </select>
            </div>
            <input type="hidden" id="hiddenInfo" asp-for="Id" value="" />
            <span id="span1"></span>
            <div class="col-md-2 col-xs-2 text-center">
                <label asp-for="In">In / Out </label><br />
                <input asp-for="In" id="InToggle" type="checkbox" data-toggle="toggle" data-on="In" data-off="Out" data-style="ios" />
            </div>
            <div class="col-md-2 col-xs-4">
                <label> </label><br />
                <input type="submit" class="btn btn-success" style="width: 100%"/>
            </div>
        </form>
    </div>
</div>