@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h2>
        Sign In / Out
    </h2>
    <br />
    <div class="row">
        <div class="col-md-4">
            <select style="width: 100%">
                <option disabled="disabled" selected="selected">Staff Member</option>
                <option>Staff 1</option>
                <option>Staff 2</option>
                <option>Staff 3</option>
                <option>Staff 4</option>
            </select>
        </div>
        <div class="col-md-2 text-center">
            Out
            <label class="switch">
                <input type="checkbox" >
                <span class="slider round"></span>
            </label>
            In
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-success" style="width: 100%" disabled />
        </div>
    </div>
</div>