@{
    ViewData["Title"] = "Home Page";
}
<div class="intro">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1>Welcome to the <span class="brand">EMDA</span></h1>
                <h2>Staff Management System</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>List of staff names</h1>
        <ul>
            <li>name</li>
            <li>name</li>
            <li>name</li>
            <li>name</li>
            <li>name</li>
            <li>name</li>
            <li>name</li>
        </ul>
    </div>
</div>