@using System.Collections
@{
    ViewData["Title"] = "Home Page";
}
<div class="intro">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1>Welcome to the <span class="brand">EMDA</span></h1>
                <h2>Staff Management System</h2>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Home/About.cshtml")

@foreach (SelectListItem staff in (IEnumerable<SelectListItem>)ViewData["StaffIn"])
{
    if (staff.Text == "True")
    {
        <h3>true</h3>
    }
    else if (staff.Text == "False")
    {
        <h3>false</h3>
    }
}

@section Scripts {
        <script type="text/javascript">

        $("#StaffSelect").change(function () {
            //get the id of the returned entry

            var ReturnID = $("#StaffSelect  option:selected").val();
            alert(ReturnID);

            var ID = ReturnID.split(" ");
            alert(ID[1]);
            //send up the returned ID find the Staff ID for that entry

            //get the name of the returned person selected
            var name = $("#StaffSelect  option:selected").text();

            if (name != null) {
                // name as 'text' in the select box
                alert(name);
                //split the name up to an array
                var text = name.split(" ");
                // first name
                alert(text[0]);
                // last name
                alert(text[1]);
            }

            @foreach (var staff in (IEnumerable) ViewData["StaffIn"])
            {
                if ()
                {
                    if(ViewData["StaffIn"].ToString() == "True")
                    {
                        <text>$("#InToggle").checked = true;</text>
                    }
                    if(ViewData["StaffIn"].ToString() != "True")
                    {
                        <text>$("#InToggle").checked = false;</text>
                    }
                }
            }





        });
        </script>
}