@using System.Collections
@{
    ViewData["Title"] = "Home Page";
}
<div class="intro">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1>Welcome to the <span class="brand">EMDA</span></h1>
                <h2>Staff Management System</h2>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Home/About.cshtml")

@*@foreach (SelectListItem staff in (IEnumerable<SelectListItem>)ViewData["StaffIn"])
{
    if (staff.Text == "True")
    {
        <h3>true</h3>
    }
    else if (staff.Text == "False")
    {
        <h3>false</h3>
    }
}*@

@section Scripts {
<script type="text/javascript">
        $("#StaffSelect").change(function () {
            //get the id of the returned entry
            var ReturnID = $("#StaffSelect  option:selected").val();
            //alert(ReturnID);
            $("#hiddenInfo").val(ReturnID);
            
            //var hiddenID = $("#hiddenInfo").val();
            //alert(hiddenID)
            //var ID = ReturnID.split(" ");
            //alert(ID[1]);
            //send up the returned ID find the Staff ID for that entry

            @foreach (SelectListItem staff in (IEnumerable) ViewData["StaffIn"])
            {
                int staffID = Convert.ToInt32(staff.Value);
                @*<text>$("#hiddenInfo").val(staffID);</text>*@
                
                if (staffID == 3)
                {
                    if (staff.Text == "True") {
                        <text>$("#InToggle").bootstrapToggle("on");</text>
                    }
                    if (staff.Text != "True") {
                        <text>$("#InToggle").bootstrapToggle("off");</text>
                    }
                }
            }
        });
</script>
}