@{
    ViewData["Title"] = "Home Page";
}
<div class="intro">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1>Welcome to the <span class="brand">EMDA</span></h1>
                <h2>Staff Management System</h2>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Home/About.cshtml")