@model Project5EMDAStaffManagement.Models.Staff

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="jumbotron">
        <h2>Edit Staff Member</h2>
        <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4><br />
        <div>
            ( <a asp-action="Index"><span class="glyphicon glyphicon-hand-left"></span> Back to List</a> )
        </div>
    </div>

    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-sm-6">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="TimeIn" class="control-label">Time In</label>
                <input asp-for="TimeIn" class="form-control" />
                <span asp-validation-for="TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="TimeOut" class="control-label"> Time Out</label>
                <input asp-for="TimeOut" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 text-center">
                @if (Model.In == true)
                {
                    <input asp-for="In" class="form-control" type="checkbox" data-toggle="toggle" data-on="In" data-off="Out" data-style="ios" checked="checked" />
                }
                else
                {
                    <input asp-for="In" class="form-control" type="checkbox" data-toggle="toggle" data-on="In" data-off="Out" data-style="ios" />
                }

            </div>
            <div class="form-group col-sm-6 text-center">
                <input type="submit" value="Save" class="btn btn-success" style="width: 50%;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
