body {
    padding-top: 50px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px !important;
}
.toggle.ios .toggle-handle {
    border-radius: 20px !important;
}

h1, h2, h3, h4 {
    font-family: 'Allerta Stencil';
}

.jumbotron {
    margin-top: 20px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    background: url(../images/emda_logo.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro .overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+25,a5ff89+62,a5ff89+62,7db9e8+91&1+9,0+100 */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 9%, rgba(30,87,153,0.82) 25%, rgba(165,255,137,0.42) 62%, rgba(125,185,232,0.1) 91%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 9%,rgba(30,87,153,0.82) 25%,rgba(165,255,137,0.42) 62%,rgba(125,185,232,0.1) 91%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 9%,rgba(30,87,153,0.82) 25%,rgba(165,255,137,0.42) 62%,rgba(125,185,232,0.1) 91%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.intro h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #053740;
    font-family: 'Allerta Stencil';
}

.intro h2 {
    color: #000;
    font-family: 'Allerta Stencil';
}

.intro .brand {
    color: #053740;
    font-weight: 700;
    letter-spacing: 8px;
}

.intro-text {
    padding: 200px 0px;
}

select {
    padding: 8px;
}

/* The switch - the box around the slider */
/*.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}*/

/* Hide default HTML checkbox */
/*.switch input {display:none;}*/

/* The slider */
/*.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}*/

/* Rounded sliders */
/*.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}*/